*{
    margin: 0;
}
body{
  background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#scroll{
    display: flex;
    width: 50%;
    margin-left: 560px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 30px;
}
.underline{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: grey;
}
p{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    color: black;
    border-radius: 50%;
    height: 40px;
   
}
.line{
    color: #43c6ac;
}
.upperhead{
    background:#43c6ac;
    padding: 10px;
}
.middlehead{
    border: 1px solid whitesmoke;
    padding: 10px;
    width: 40px;
}
.lowerhead{
    border: 1px solid whitesmoke;
    padding: 12px;
}
.img{
      margin-left: 610px;
      margin-top: 50px;
}
#button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button{
    padding: 15px;
    border-radius: 24px;
    color: #fff;
    background-color: #43c6ac;
    border: 1px solid #43c6ac;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

/* cart section */

div{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    position: relative;
}
div > img{
    width: 100%;
    background-color:#F9F9F9;
}
div >:nth-child(2){
    margin-top:10px;
    font-size:14px;
    margin-left: 10px;
}
div >:nth-child(3){
    margin-top:15px;
    font-size:11px;
    margin-left: 10px;
}
div >:nth-child(4){
    margin-top:-5px;
    font-size:15px;
    margin-left: 10px;
}
div > button{
    border:1px solid #5DC6AD;;
    border-radius:15px;
    width:25%;
    margin-left: 190px;
    position: absolute;
    bottom: 10px;
    color:#5DC6AD;
    background-color:white;
}
div > button:hover{
    background-color: #5DC6AD;
    color:white;
}
div:hover{
    transition: all ease-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
