*{
    margin: 0;
}
body{
  background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#scroll{
    display: flex;
    width: 50%;
    margin-left: 560px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 30px;
}
.underline{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: grey;
}
p{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
    color: black;
    border-radius: 50%;
    height: 40px;
   
}
.line{
    color: #43c6ac;
}
.upperhead{
    background:#43c6ac;
    padding: 10px;
}
.middlehead{
    border: 1px solid whitesmoke;
    padding: 10px;
    width: 40px;
}
.lowerhead{
    border: 1px solid whitesmoke;
    padding: 12px;
}
.img{
      margin-left: 610px;
      margin-top: 50px;
}
#button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button{
    padding: 15px;
    border-radius: 24px;
    color: #fff;
    background-color: #43c6ac;
    border: 1px solid #43c6ac;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

