  body{
    background-color: #eeeeee;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .container {
      height: 100%;
      width: 100%;
      position: absolute;
    }
    
    .form{
      width: 40%;
      height: 100%;
      background:white;
      position: relative;
      padding: 20px 50px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      
    }
    
    .input {
      margin: 30px auto;
      position: relative;
      margin-left: px;
  
    }
    
    input {
      width: 70%;
      height: 3px;
      outline: none;
      border: 3px solid #5dc6ad;
      font-size: small;
      background-color: 
      white;
      padding: 25px;
      border-radius: 10px;
    }
    h1{
      font-size: 30px;
      font-weight: 300;
      /* font-family: Rockwell,"Times New Roman",serif; */
      /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
      margin-top: 20px;
      margin-left: 17px;
     
    }    
    label {
      position: absolute;
      top: -7px;
      left: 20px;
      background: white;
      padding: 0 3px;
      border-color: red;
      font-size: 18px;
      font-weight: 500;
    }
    
    .sub {
      padding: 16px 30px;
      border: none;
      background: #5dc6ad;
      color: white;
      cursor: pointer;
      margin-top: 30px;
      margin-left: 0px;
      border-radius: 10px;
      font-size: large;
      border: 1px solid #5dc6ad;
      font-weight: bold;
      width: 70%;
    }
    p{
      font-size: 19px;
      text-align: center;
      margin-right: 185px;
      font-weight: 300;
    }
    .fr {
      height: 80px;
      margin-left: -3px;
      border-radius: 20px;
      background-color: white;
    }
    a {
      text-decoration: none;
      font-weight: 700;
      color: #5dc6ad;
      font-size: 20px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      .Image{
        display: none;
      }
      .form{
        width: 100%;
      }
      h1{
        font-size: 25px;
      }
      input{
        width: 50%;
        padding: 20px;
      }
      label{
        margin-top:-4px;
      }
      button[type="submit"]{
        width: 50%;
        padding: 14px;
      }
      .form>p{
        width: 50%;
        font-size:20px;
        text-align: center;
      }
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      .Image{
        display: none;
      }
      .form{
        width: 60%;
      }
      h1{
        font-size: 25px;
      }
      input{
        width: 100%;
        padding: 19px;
      }
      label{
        margin-top:-4px;
      }
      button[type="submit"]{
        width: 100%;
        padding: 14px;
      }
      .form>p{
        width: 100%;
      }
    }

    @media screen and (min-width: 0px) and (max-width: 426px) {
    .Image{
      display: none;
    }
    .form{
      text-align: center;
      width: 100%;
    }
    h1{
      text-align: center;
      font-size: 25px;
    }
    input{
      width: 100%;
      padding: 19px;
    }
    label{
      margin-top:-4px;
    }
    button[type="submit"]{
      width: 100%;
      padding: 14px;
    }
    .form>p{
      width: 100%;
    }
    }